
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
#忽略dll文件
*.dll
#忽略build文件夹
build
#忽略Test类库文件夹
eUI.Test/App.config
eUI.Test/BannerInfo.cs
eUI.Test/BannerType.cs
eUI.Test/eUI.Test.csproj
eUI.Test/packages.config
eUI.Test/Program.cs
eUI.Test/Properties/AssemblyInfo.cs
